*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --maincolor:#282b2e;
    --bordercolor:#ddae71;
    --pcolor:rgb(161 158 158)
}
.footer{
    background-color: #000000d6;
    width: 100%;
    margin: auto;
    height: fit-content;
    margin-top: 70px;
}
.footer-main{
    display: flex;
    gap: 270px;
    position: relative;
    
}
.footer-logo{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    background-image: url(../images/logo\ soup.png);
    background-size: cover;
    margin: 36px 48px;
    padding: 10px;
}
.footer-socailmedia h2{
    font-size:30px;
}
.footer-socailmedia{
    right: 40px;
    position: absolute;
    color: aliceblue;
    margin: 30px;
}
.footer-socailmedia ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
}
.footer-socailmedia ul li{
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}
.footer-socailmedia ul li a{
    color: white;
}
.footer-socailmedia ul li:hover{
    color: var(--bordercolor);
}
.copyright{
    text-align: center;
    color: white;
}
.facebook:hover{
    color: rgb(23, 23, 188);
    
}
.youtube:hover{
    color: rgb(230, 39, 35);
}
.twitter:hover{
    color: rgb(13, 13, 228);
}
.instagram:hover{
    color: rgb(150, 14, 14);
}
@media(max-width:767px){
    .footer-socailmedia{
        right: 0px;
    }
}